<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>Umfrage: Stadtentwicklung Limmattal</title>

    


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">



<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  
<!--<![endif]-->





  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/static/css/layouts/blog-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/layouts/blog.css">
    <!--<![endif]-->
  


    

    

</head>
<body>







<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">Umfrage</h1>
            <h2 class="brand-tagline">Stadtentwicklung Limmattal</h2>
            <hr/>
            <p>Noemi Neuenschwander</p>
            <p>Eidgenössische Technische Hochschule Zürich</p>

	<!--
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="http://purecss.io">Pure</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="http://yuilibrary.com">YUI Library</a>
                    </li>
                </ul>
            </nav>
	-->
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Stadtentwicklung Schlieren &ndash; Dietikon</h1>

                <!-- A single blog post -->
                <section class="post">

                    <div class="post-description">

                            <div class="pure-u-1 pure-u-md-5-5">
                                    <img class="pure-img-responsive"
                                         src="static/img/StudyArea_03.png">
                            </div>

                        <p>
Das Studiengebiet umfasst zwei benachbarte Gemeinden im Limmattal, ein Agglomerationsgebiet im Nordosten von Zürich: Schlieren und Dietikon. Die ganze Region hat sich aufgrund einer starken Bevölkerungszunahme in den letzten Jahrzehnten stark verändert. Die einstigen Bauerndörfer wurden zu einer nahezu zusammenhängend bebauten Agglomerationsregion. Szenarien rechnen mit weiteren rund 20% Bevölkerungszuwachs bis 2030, was eine weitere bedeutende Veränderung der Siedlungsstruktur zur Folge haben wird. Ziel der folgenden Umfrage ist die Identifikation gewünschter Entwicklungsstrategien.
						</p>
						<p>
Das Studiengebiet lässt sich folgendermassen charakterisieren: Die beiden Gemeinden sind gut ans nationale Strassen- und Schienennetz angebunden und das Zentrum in Zürich ist in rund 15 Minuten erreichbar. Der Bereich der Transitachsen (Strasse und Schiene) verläuft mitten durch den Siedlungsbereich und teilt es in einen nördlichen und einen südlichen Teil. Eine Querung ist nur an einzelnen Über- oder Untergängen möglich. Die Waldgebiete und der Uferbereich der Limmat werden als wichtige Naherholungsräume wahrgenommen. Im dicht gebauten, urbanen Zentrum sind kaum Grünräume zu finden, wogegen die südlichen Wohnquartiere durch viele öffentliche und private Grünräume charakterisiert sind. In den Quartieren nördlich der Transitachsen dominierten bis vor kurzem Industrie und Autohandel, heute werden viele der ehemaligen Industrieareale zu modernen, grünen Siedlungen mit hoher Bewohnerdichte und möglichst gemischter Nutzung.
                        </p>
                        <p><a href="/goals/" class="pure-button pure-button-primary">Zur Umfrage</a>
                    </div>
                </section>
            </div>


            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="http://purecss.io/">About</a></li>
                        <li><a href="http://twitter.com/yuilibrary/">Twitter</a></li>
                        <li><a href="http://github.com/yahoo/pure/">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>






</body>
</html>
